@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

body {
    font-family: 'Smooch Sans';
    margin: 0;

}

/*.hero-bg {
    background: #A9AAAA url('../images/bg.jpg');
    color: white;
    text-align: center;
    padding-top: 10em;
}
*/
header {
    font-size: xx-large;
    padding: 0em 5em 0em 5em;
    margin: 0;
    text-align: center;
    line-height:0px;
    
    

}



section {
    margin: 0em;
    text-align: center;
    line-height:0px;
} ;

Hero-bg {

}

FrontCF {
    text-align:center
}

FrontOpts {
    text-align: center;

}

.logo{
    width: 200px;
    text-align: left;

}

.h1{
    line-height: 40;
    padding-left: 500px;

}
